.gridWrap{
    width: 1110px;
    margin: 180px auto;
    display: flex;
    flex-wrap: wrap;
    .grid_list{
        width: 350px;
        box-shadow: 1px 0px 4px rgba(0,0,0,0.5);
        margin: 10px 10px;
        .list_img{
            position: relative;
            img{
                width: 100%;
                height: 235px;
            }
            .noimg{
                width: 100%;
                height: 235px;
                display: flex;
                border-bottom: 1px solid #dfdfdf;
                justify-content: center;
                align-items: center;
            }
            .img_top{
                position: absolute;
                left: 10px;
                top: 10px;
                display: flex;
                .featured{
                    width: 90px;
                    height: 30px;
                    text-align: center;
                    font-size: 12px;
                    line-height: 30px;
                    background-color: blueviolet;
                    color: #fff;
                    border-radius: 5px;
                    margin-right: 5px;
                }
                .for-sale{
                    width: 85px;
                    height: 30px;
                    text-align: center;
                    font-size: 12px;
                    line-height: 30px;
                    background-color: brown;
                    color: #fff;
                    border-radius: 5px;
                }
            }
            .price{
                position: absolute;
                right: 10px;
                bottom: 10px;
                color: #fff;
                font-weight: bold;
                span{
                    font-weight: normal;
                }
            }
        }
        .list_info{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            h3{
                font-size: 20px;
                a{
                    color: brown;
                }
                margin: 0px 0 22px 20px;
                padding-top: 25px;
            }
            p{
                i{
                    margin-right: 5px;
                }
                font-size: 12px;
                margin-left: 20px;
                margin-bottom: 26px;
            }
            ul{
                margin-left: 20px;
                display: flex;
                li{
                    i{
                        margin-right: 5px;
                    }
                    font-size: 12px;
                    margin-right: 22px;
                    margin-bottom: 20px;
                }
            }
            .list_bot{
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #dfdfdf;
                p{
                    i{
                        margin-right: 5px;
                    }
                    margin: 18px;
                }
            }
        }
    }
}

.brdinsertBtn{
    width: 150px;
    line-height: 50px;
    text-align: center;
    border-radius: 15px;
    margin: 0 auto 100px;
    background-color: brown;
    a{
        display: block;
        width: 100%;
        color: #fff;
    }
}

@media screen and (max-width:1200px){
    .gridWrap{
        width: 77.5%;
        .grid_list{
            width: 30%;
            .list_img{
                img{
                    height: 200px;
                }
                .noimg{
                    height: 200px;
                }
            }
        }
    }
}

@media screen and (max-width:1000px){
    .gridWrap{
        width: 69.2%;
        .grid_list{
            width: 45.69%;
            .list_img{
                img{
                    height: 220px;
                }
                .noimg{
                    height: 220px;
                }
            }
        }
    }
}

@media screen and (max-width:768px){
    .gridWrap{
        width: 89%;
        .grid_list{
            width: 100%;
            .list_img{
                img{
                    height: 330px;
                }
                .noimg{
                    height: 330px;
                }
            }
        }
    }
}