#footer{
    .f-top{
        display: flex;
        justify-content: center;
        background-color: #7A060B;
        .center{
            width: 1110px;
            color: #fff;
            display: flex;
            justify-content: space-around;
            padding-bottom: 85px;
            > div{
                h3{
                    margin-top: 85px;
                    margin-bottom: 38px;
                }
                p{
                    margin-bottom: 20px;
                    line-height: 1.5;
                }
            }
            .f-Qlinks{
                ul{
                    li{
                        margin-bottom: 20px;
                        a{
                            color: #fff;
                        }
                    }
                }
            }
            .subscribe{
                ul{
                    display: flex;
                    li{
                        width: 45px;
                        height: 45px;
                        background-color: #610509;
                        margin-right: 5px;
                        line-height: 45px;
                        text-align: center;
                        a{
                            display: block;
                            width: 100%;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .f-bot{
        display: flex;
        justify-content: center;
        background-color: #610509;
        .center{
            width: 1110px;
            color: #fff;
            .copy{
                p{
                    text-align: center;
                    line-height: 100px;
                }
            }
        }
    }
}

@media screen and (max-width:1200px){
    #footer{
        .f-top{
            .center{
                width: 77.5%;
            }
        }
        .f-bot{
            .center{
                width: 77.5%;
            }
        }
    }
}

@media screen and (max-width:1000px){
    #footer{
        .f-top{
            .center{
                width: 69.2%;
                flex-wrap: wrap;
                > div{
                    width: 47.69%;
                }
            }
        }
        .f-bot{
            .center{
                width: 69.2%;
                .copy{
                    p{
                        padding: 30px 0;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px){
    #footer{
        .f-top{
            .center{
                width: 66.6%;
            }
        }
        .f-bot{
            .center{
                width: 66.6%;
            }
        }
    }
}

@media screen and (max-width:580px){
    #footer{
        .f-top{
            .center{
                width: 94%;
                flex-direction: column;
            }
        }
        .f-bot{
            .center{
                width: 94%;
                .copy{
                    p{
                        padding: 30px 0;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}