.title_img{
    background-image: url(/img/titleimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
    }
    .center_title{
        z-index: 10;
        color: #fff;
        text-align: center;
        h2{
            font-size: 25px;
            margin-bottom: 18px;
        }
    }
}
.intro_housing{
    display: flex;
    justify-content: center;
    .center{
        width: 1110px;
        display: flex;
        video{
            margin-top: 100px;
            width: 450px;
            height: 350px;
        }
        .right_welcome{
            margin-left: 50px;
            h3{
                margin-top: 140px;
                font-size: 25px;
            }
            p{
                margin-top: 30px;
                margin-bottom: 30px;
                line-height: 1.3;
            }
            a{
                display: block;
                width: 150px;
                height: 42px;
                border-radius: 21px;
                line-height: 42px;
                text-align: center;
                color: brown;
                box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
                margin-bottom: 125px;
            }
        }
    }
}
.intro_choose{
    display: flex;
    justify-content: center;
    background-color: #f9f9f8;
    .center{
        width: 1110px;
        h2{
            text-align: center;
            margin-top: 100px;
            margin-bottom: 25px;
        }
        > p{
            margin-bottom: 45px;
            text-align: center;
        }
        .choose_listWrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .choose_list{
                display: none;
                background-color: #fff;
                width: 350px;
                margin-bottom: 20px;
                box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
                &:nth-child(1),&:nth-child(2),&:nth-child(3){
                    display: flex;
                }
                &:nth-child(7),&:nth-child(8),&:nth-child(9){
                    margin-bottom: 100px;
                }
                .choose_icon{
                    margin-top: 40px;
                    margin-left: 20px;
                    text-align: center;
                    p{
                        font-weight: bold;
                        color: #999;
                    }
                }
                .choose_context{
                    margin-left: 10px;
                    h3{
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }
                    p{
                        line-height: 1.3;
                        margin-right: 30px;
                    }
                    a{
                        display: block;
                        margin: 20px 0 20px 0;
                    }
                }
            }
            > a{
                display: block;
                width: 150px;
                height: 42px;
                border-radius: 21px;
                line-height: 42px;
                text-align: center;
                color: brown;
                box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
                margin: 60px auto 100px;
            }
        }
    }
}

.intro_testimonial{
    background-image: url("/img/testo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
    }
    .center{
        text-align: center;
        color: #fff;
        position: relative;
        h2{
            padding-top: 100px;
            z-index: 10;
        }
        > p{
            margin-top: 25px;
            margin-bottom: 45px;
        }
        .testimonialWrap{
            width: 450px;
            margin: 0 auto;
            overflow-x: hidden;
            .view{
                display: flex;
                width: 300%;
                transition: all 0.5s;
                .slide{
                    width: 33.333333%;
                    height: 150px;
                    margin: 0 20px 100px 20px;
                    .context{
                        padding: 20px;
                        background-color: #fff;
                        color: #999;
                        border-radius: 10px;
                        line-height: 1.3;
                    }
                    .person{
                        display: flex;
                        justify-content: center;
                        width: 230px;
                        height: 55px;
                        border-radius: 20px;
                        margin: 20px auto 0;
                        background-color: #fff;
                        color: #999;
                        p{
                            margin-top: 10px;
                        }
                    }
                }
            }
            .dotBtn{
                display: flex;
                justify-content: center;
                li{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    margin: 0 4px;
                    background-color: #fff;
                    margin-bottom: 100px;
                    cursor: pointer;
                    &:first-child{
                        background-color: #610509;
                    }
                }
            }
        }
    }
}

.intro_agent{
    display: flex;
    justify-content: center;
    .center{
        width: 1110px;
        h2{
            text-align: center;
            margin-top: 100px;
            margin-bottom: 30px;
        }
        > p{
            text-align: center;
            margin-bottom: 45px;
        }
        .agent_listWrap{
            display: flex;
            justify-content: space-between;
            .agent_list{
                &:hover{
                    .agent_imgWrap{
                        img{
                            transform: scale(1.3);
                        }
                    }
                }
                .agent_imgWrap{
                    overflow: hidden;
                    img{
                        width: 350px;
                        height: 300px;
                        transition: all 0.5s;
                    }
                }
                .list_context{
                    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
                    padding: 25px;
                    margin-bottom: 100px;
                    p{
                        color: #999;
                    }
                    h3{
                        margin-top: 16px;
                        margin-bottom: 20px;
                        color: #555;
                    }
                    ul{
                        li{
                            color: #999;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}