<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 레이아웃</title>
    <link rel="stylesheet" href="./css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="alllayout">
        <div class="center">
            <h1><a href="/"><img src="/img/logo_w.png"></a></h1>
            <h2>페이지 전체보기</h2>
            <ul class="count_icon">
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
            </ul>
            <div class="down"><i class="fa-solid fa-angles-down"></i></div>
        </div>
    </div>
    </div>
    <div class="allWrap">
        <div class="layout1">
            <div class="lay1-left"><img src="/img/slide01.jpg"></div>
            <div class="lay1-right">
                <h2>메인 페이지</h2>
                <div class="lay1_box"><a href="/"><img src="/img/layout1.jpg"><i class="fa-solid fa-angles-up"></i></a></div>
                <p>슬라이드 기능</p>
                <div class="lay1_box"><a href="/"><img src="/img/layout2.jpg"><i class="fa-solid fa-angles-up"></i></a></div>
                <p>정렬 기능</p>
                <div class="lay1_box"><a href="/"><img src="/img/layout3.jpg"><i class="fa-solid fa-angles-up"></i></a></div>
                <p>함수 리팩토링</p>
                <div class="lay1_box"><a href="/"><img src="/img/layout4.jpg"><i class="fa-solid fa-angles-up"></i></a></div>
                <p>CSS 효과</p>
            </div>
        </div>
        <div class="layout2">
            <div class="lay2-left"><img src="/img/slide02.jpg"></div>
            <div class="lay2-right">
                <h2>소개 페이지</h2>
                <div class="lay2_box"><a href="/brdlist"><img src="/img/layout5.jpg"><i class="fa-solid fa-angles-up"></i></a></div>
                <p>글작성 기능</p>
                <div class="lay2_box"><a href="/brdlist"><img src="/img/layout6.jpg"><i class="fa-solid fa-angles-up"></i></a></div>
                <p>상세페이지</p>
                <div class="lay2_box"><a href="/brdlist"><img src="/img/layout7.jpg"><i class="fa-solid fa-angles-up"></i></a></div>
                <p>목록페이지</p>
                <div class="lay2_box"><a href="/brdlist"><img src="/img/layout8.jpg"><i class="fa-solid fa-angles-up"></i></a></div>
                <p>소개페이지</p>
            </div>
        </div>
    </div>
</body>
</html>