<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/css/loginwrap.css">
</head>
<body>
    <div class="loginWrap">
        <div class="center">
            <div class="formWrap">
                <h3>Sign into your account</h3>
                <div class="pathWrap">
                    <a class="on" href="/login">LOGIN</a>
                    <a href="/join">REGISTER</a>
                </div>
                <form action="/addlogin" method="post">
                    <input id="userid" type="text" name="userid" placeholder="ID">
                    <input id="userpass" type="password" name="userpass" placeholder="Password">
                    <button type="submit">LOGIN</button>
                </form>
                <p class="path_regi">Don't have an account? <a href="/join">Register here</a></p>
                <a class="path_home" href="/">HOME</a>
            </div>
            <div class="left_imgWrap">
                <img src="/img/login.jpg">
            </div>
        </div>
    </div>
</body>
</html>