* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

input {
  outline: none;
}

textarea {
  resize: none;
  outline: none;
}

body {
  line-height: 1;
}

#header .h-top {
  background-color: #930E0A;
  display: flex;
  justify-content: center;
}
#header .h-top .center {
  display: flex;
  justify-content: flex-end;
  width: 1110px;
}
#header .h-top .center .joinWrap a {
  line-height: 40px;
  color: #fff;
}
#header .h-top .center .joinWrap a i {
  margin: 0 5px 0 10px;
}
#header .h-bot {
  display: flex;
  justify-content: center;
}
#header .h-bot .center {
  display: flex;
  width: 1110px;
}
#header .h-bot .center .logo {
  margin-top: 10px;
  margin-right: 50px;
}
#header .h-bot .center .logo img {
  width: 110px;
  height: 70px;
}
#header .h-bot .center .gnb {
  display: flex;
}
#header .h-bot .center .gnb li {
  line-height: 90px;
  margin: 0 15px;
}
#header .h-bot .center .gnb li a {
  color: #555;
}