<div id="footer">
    <div class="f-top">
        <div class="center">
            <div class="contact">
                <h3>문의 사항</h3>
                <p>경기도 고양시 일산서구<br>덕이동 774-12</p>
                <p>rhgustmfrh@naver.com</p>
                <p>+82 8191-8151</p>
            </div>
            <div class="f-types">
                <h3>커피 종류</h3>
                <p>에스프레소</p>
                <p>카페라떼</p>
                <p>카페모카</p>
                <p>아인슈페너</p>
                <p>콜드브루</p>
            </div>
            <div class="f-Qlinks">
                <h3>빠른 이동</h3>
                <ul>
                    <li><a href="/intro">커피소개</a></li>
                    <li><a href="/countdown">이벤트</a></li>
                    <li><a href="/brdlist">게시판</a></li>
                    <li><a href="/map">찾아오시는 길</a></li>
                    <li><a href="/layout">전체보기</a></li>
                </ul>
            </div>
            <div class="subscribe">
                <h3>구독</h3>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-wifi"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="f-bot">
        <div class="center">
            <div class="copy">
                <p>ⓒ 2022 HS Kim. 커피관련 카페 웹사이트 PORTFOLIO </p>
            </div>
        </div>
    </div>
</div>