<div id="footer">
    <div class="f-top">
        <div class="center">
            <div class="contact">
                <h3>Contact Us</h3>
                <p>360 Harvest St,North Subract, London. United<br>States Of America</p>
                <p>rhgustmfrh@naver.com</p>
                <p>+82 8191-8151</p>
            </div>
            <div class="f-types">
                <h3>Properties Types</h3>
                <p>Apartment</p>
                <p>Restaurant</p>
                <p>My Houses</p>
                <p>Vila & Condo</p>
                <p>Family House</p>
            </div>
            <div class="f-Qlinks">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Properties Details</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="subscribe">
                <h3>Subscribe</h3>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-wifi"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="f-bot">
        <div class="center">
            <div class="copy">
                <p>ⓒ 2022 Theme Vessel. Trademarks and brands are the property of their respective owners.</p>
            </div>
        </div>
    </div>
</div>