<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/intro.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/brdlist.css">
    <link rel="stylesheet" href="/css/brdinsert.css">
    <link rel="stylesheet" href="/css/brddetail.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="header">
        <div class="h-top">
            <div class="center">
                <div class="joinWrap">
                    <% if(!userData){ %>
                        <a href="/login"><i class="fa-solid fa-arrow-right"></i>Login</a>
                        <a href="/join"><i class="fa-solid fa-user"></i>Register</a>
                    <% } else { %>
                        <a class="username" href="/mypage"><%- userData.joinnick %>님</a>
                        <a class="logout" href="/logout">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="h-bot">
            <div class="center">
                <h1 class="logo"><a href="/"><img class="logoImg" src="/img/logo.png"></a></h1>
                <ul class="gnb">
                    <li class="depthWrap"><a id="index" class="index" href="/">Index <i class="fa-solid fa-caret-down"></i></a>
                        <ul class="depth">
                            <li class="liMove"><a href="#">Recently</a></li>
                            <li class="liMove"><a href="#">Palces</a></li>
                        </ul>
                    </li>
                    <li><a class="brdlist" href="/brdlist">Properties</a></li>
                    <li class="liMove"><a href="#">Agents</a></li>
                    <li><a class="intro" href="/intro">Pages</a></li>
                    <li class="liMove"><a href="#">Blog</a></li>
                </ul>
                <div class="hbgBtn">
                    <span class="top"></span>
                    <span class="mid"></span>
                    <span class="bot"></span>
                </div>
                <div class="joinWrap">
                    <% if(!userData){ %>
                        <a href="/login"><i class="fa-solid fa-arrow-right"></i>Login</a>
                        <a href="/join"><i class="fa-solid fa-user"></i>Register</a>
                    <% } else { %>
                        <a class="username" href="/mypage"><%- userData.joinnick %>님</a>
                        <a class="logout" href="/logout">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="hbgMenu">
        <div class="operci"></div>
        <div class="nav">
            <div class="xBtn"><span>x</span></div>
            <div class="joinWrap">
                <% if(!userData){ %>
                    <a href="/login"><i class="fa-solid fa-arrow-right"></i>Login</a>
                    <a href="/join"><i class="fa-solid fa-user"></i>Register</a>
                <% } else { %>
                    <a class="username" href="/mypage"><%- userData.joinnick %>님</a>
                    <a class="logout" href="/logout">Logout</a>
                <% } %>
            </div>
            <ul class="hbgGnb">
                <li class="depthWrap2"><a class="index" href="/">Index</a>
                    <ul class="depth2">
                        <li class="liMove"><a href="#">Recently</a></li>
                        <li class="liMove"><a href="#">Palces</a></li>
                    </ul>
                </li>
                <li><a class="brdlist" href="/brdlist">Properties</a></li>
                <li class="liMove"><a href="#">Agents</a></li>
                <li><a class="intro" href="/intro">Pages</a></li>
                <li class="liMove"><a href="#">Blog</a></li>
            </ul>
            <div class="hbgFoot">
                <ul class="hbgIcon">
                    <li><a href="#"><i class="fab fa-facebook-f color-white"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram color-white"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter color-white"></i></a></li>
                </ul>
                <p class="hbgCopy">© 2020 MegaOne. Made With Love by Themesindustry</p>
            </div>
        </div>
    </div>    
